@page
@model Chocolate_Shop.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="h-100" style="background-color: #542515">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <form action="" method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">Register</span>
                                    </div>

                                    <p class="alert-danger">@ViewData["msg"]</p>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register your account</h5>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" asp-for="Account.FirstName" id="form3Example1m1" class="form-control form-control-lg" required />
                                                <label class="form-label" for="form3Example1m1">Fist Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="text" asp-for="Account.LastName" id="form3Example1n1" class="form-control form-control-lg" required />
                                                <label class="form-label" for="form3Example1n1">Last Name</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="email" asp-for="Account.Gmail" id="form3Example9" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example9">Gmail</label>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password" asp-for="Account.Password" id="form3Example1m1" class="form-control form-control-lg" required/>
                                                <label class="form-label" for="form3Example1m1">Password</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <input type="password" asp-for="rePass" id="form3Example1n1" class="form-control form-control-lg" required/>
                                                <label class="form-label" for="form3Example1n1">Repeat your password</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                        <h6 class="mb-0 me-4">Gender: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" asp-for="Account.Gender" name="gender" id="maleGender"
                                                   value="true" onclick="uncheckFemale()" />
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" asp-for="Account.Gender" name="gender" id="femaleGender"
                                                   value="false" onclick="uncheckMale()" />
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                        </div>
                                    </div>
                                                                
                                    <div class="form-outline mb-4">
                                        <input type="number" asp-for="Account.Phone" id="form3Example90" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example90">Phone</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" asp-for="Account.Address" id="form3Example99" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example99">Address</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="date" asp-for="Account.BirthDay" id="form3Example97" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example97">Birthday</label>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block">Submit form</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function uncheckFemale() {
        document.getElementById('femaleGender').checked = false;
    }

    function uncheckMale() {
        document.getElementById('maleGender').checked = false;
    }
</script>