@page
@model Chocolate_Shop.Pages.Admin.Members.EditModel
@{
    ViewData["Title"] = "Edit Member";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Account.AccountId" />
            <div class="form-group">
                <label asp-for="Account.FirstName" class="control-label"></label>
                <input asp-for="Account.FirstName" class="form-control" />
                <span asp-validation-for="Account.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.LastName" class="control-label"></label>
                <input asp-for="Account.LastName" class="form-control" />
                <span asp-validation-for="Account.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Gender" class="control-label"></label>
                <select asp-for="Account.Gender" class="form-control">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
                <span asp-validation-for="Account.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.RoleId" class="control-label"></label>
                @if (Model.Account.RoleId != 1)
                {
                    <select asp-for="Account.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                }
                else
                {
                    <input asp-for="Account.RoleId" class="form-control" readonly="readonly"/>
                }
                <span asp-validation-for="Account.RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Phone" class="control-label"></label>
                <input asp-for="Account.Phone" class="form-control" />
                <span asp-validation-for="Account.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Address" class="control-label"></label>
                <input asp-for="Account.Address" class="form-control" />
                <span asp-validation-for="Account.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.BirthDay" class="control-label"></label>
                <input asp-for="Account.BirthDay" class="form-control" />
                <span asp-validation-for="Account.BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Gmail" class="control-label"></label>
                <input asp-for="Account.Gmail" class="form-control" />
                <span asp-validation-for="Account.Gmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.AccountImage" class="control-label"></label>
                <input asp-for="Account.AccountImage" class="form-control" />
                <span asp-validation-for="Account.AccountImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Status" class="control-label"></label>
                <select asp-for="Account.Status" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
                <span asp-validation-for="Account.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}