@page
@model Chocolate_Shop.Pages.Account.AddressShip.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AddressShip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddressShip.AddressShipId" />
            <input type="hidden" asp-for="AddressShip.AccountId" />
            
            <div class="form-group">
                <label asp-for="AddressShip.Name" class="control-label"></label>
                <input asp-for="AddressShip.Name" class="form-control" />
                <span asp-validation-for="AddressShip.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressShip.Phone" class="control-label"></label>
                <input asp-for="AddressShip.Phone" class="form-control" />
                <span asp-validation-for="AddressShip.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressShip.Address" class="control-label"></label>
                <input asp-for="AddressShip.Address" class="form-control" />
                <span asp-validation-for="AddressShip.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
